*{
    transition:all 0.5s ease-in-out;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right,rgba(0,0,0,1),rgba(0,0,0,0.7),rgba(0,0,0,0.2)),url(home.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
#div2{
  height: 100%;
  width: 100%;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  border-bottom: #1b1b1b 1px solid;
  background: transparent;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #111;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #f2f2f2;
  background: #111;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 0 30px;
  color: white;
  overflow: hidden;
  animation: text 1s 1;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}
#get{
  height: 50px;
  width: 180px;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  transition-duration: 0.4s;
  cursor: pointer;
}
#get:hover {
  background-color: black;
  color: white;
}
@keyframes text{
  0%{
      color: black;
      margin-bottom: -40px;
  }
  30%{
      letter-spacing: 25px;
      margin-bottom: -40px;
      }
  85%{
      letter-spacing: 8px;
      margin-bottom: -40px;
  }
}
