.bg-container{
background-color:#42f5e3;
color:red;
font-family:"roboto";
}
.main-heading{
color:#f542a4;
font-size:40px;
font-family:"roboto";
margin:20px;
}
.data{
font-size:30px;
font-family:"roboto";
margin:20px;
color:blue;
}
.butt{
height:30px;
width:80px;
color:white;
margin-left:500px;
background-color:#f542a4;
color:white;
padding:5px;
font-weight:bold;
border-radius:10px;
border-color:#42f5e3;
}
